
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Sign up</h4>
  
     
     
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <nav ngbNav #nav="ngbNav" class="nav-tabs">
        <ng-container ngbNavItem>
          <a ngbNavLink>User</a>
          <ng-template ngbNavContent>
            <form>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              <br>
              <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
              <br>
              <input type="text" class="form-control" placeholder="Phone" aria-label="Phone" aria-describedby="basic-addon1">
              <br>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" (ngModel)="model" ngbDatepicker #d="ngbDatepicker">
                <button class="btn btn-outline-secondary calendar me-1" (click)="d.toggle()" type="button"></button>
              </div>
              <br>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </form>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem>
          <a ngbNavLink>NGO</a>
          <ng-template ngbNavContent>
            <form>
              <input type="text" class="form-control" placeholder="NGOName" aria-label="ngoname" aria-describedby="basic-addon1">
              <br>
              <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
              <br>
              <input type="text" class="form-control" placeholder="Address" aria-label="Address" aria-describedby="basic-addon1">
              <br>
              <input type="text" class="form-control" placeholder="Phone" aria-label="Phone" aria-describedby="basic-addon1">
              <br>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </form>
          </ng-template>
        </ng-container>
      </nav>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      
      <br>
     
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Create</button>
    </div>
  </ng-template>
  
  
  <button class="btn btn-success" type="submit" (click)="open(content)">Create an account</button>